[color]
	ui = true
[user]
	name = Tim Rosine
	email = trosine@conversantmedia.com
[core]
  excludesfile = /home/trosine/.gitignore_global
[log]
	decorate = short
	abbrevcommit = true
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	ga = log --graph --all
	lg = log --graph
	st = status -sb
	pp = !git branch | tr /- _
	ppr = !git branch -r | sed -e 's|origin/||' | tr /- _
  # remove local banches that have been merged - leaving current branch and master
	lbprune = !git branch --merged | grep -ve '^\\*' -e '^  master$' | xargs --no-run-if-empty git branch -d
	myprune = "!git branch --merged | grep -ve '^\\*' -e '^  master$' | xargs --no-run-if-empty git branch -d; git fetch --prune"
[push]
	default = current
